<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <title>{{title or metadata.title}} — Tom Hardiman</title>

    <meta name="description" content="{{description or metadata.description}}" />
    <meta property="og:title" content="{{title or metadata.title}} — Tom Hardiman" />
    {% if not vimeoID -%}
      <meta property="og:type" content="website"/>
    {% endif -%}
    {% if image -%}
      <meta property="og:image" content="{{image}}" />
      <meta name="twitter:image" content="{image}}" />
    {%- endif -%}
    {% if vimeoID -%}
      <meta property="og:type" content="video">
      <meta property="og:video:url" content="https://player.vimeo.com/video/{{vimeoID}}?autoplay=1">
      <meta property="og:video:secure_url" content="https://player.vimeo.com/video/{{vimeoID}}?autoplay=1">
      <meta property="og:video:type" content="text/html">
      <meta property="twitter:player" content="https://player.vimeo.com/video/{{vimeoID}}?autoplay=1">
    {% endif -%}
    <meta property="og:description" content="{{description or metadata.description}}" />
    <meta name="twitter:site" content="@YOUR_TWITTER"/>
    <meta name="twitter:creator" content="@YOUR_TWITTER"/>
    <meta name="twitter:description" content="{{description or metadata.description}}" />

    <style type="text/css">
      .sidebar-width {
        width: 300px;
      }
      .sidebar-height {
        height: 300px;
      }

      @media screen and (min-width: 30em) {
        .sidebar-offset {
          margin-left: 300px;
        }
      }
      .f8 {
        font-size: .625rem;
      }
      .markdown * {
        font-size: .625rem;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }
      .markdown a:link,
      .markdown a:visited {
        color: #000;
        text-decoration: underline;
      }
  </style>
  </head>
  <body class="sans-serif h-100 pa4">
    <nav class="fl mr6 sidebar-width sidebar-height flex flex-column justify-center items-center" style="background-image: url(/img/health-cross-circle2.gif); background-repeat: no-repeat; background-size: contain;">
      <div>
        <h1 class="f8 ttu ma0">
          <a class="link black hover-bg-gold db" href="/">Thomas Hardiman</a>
        </h1>
        <h2 class="f8 mt3 ttu">Contact</h2>
        <p class="f8 fw7 lh-copy ttu"><strong>USA: CAA</strong><br/>
          <a class="link black hover-bg-orange underline" href="mailto:sue.carlsasst@caa.com">Sue Carls</a>,
          <a class="link black hover-bg-orange underline" href="mailto:sue.carlsasst@caa.com">Craig Gering</a>
        </p>

        <p class="f8 fw7 ttu lh-copy mb0"><strong>UK: THE B SIDE</strong><br/>
          <a class="link black hover-bg-green underline" href="mailto:molly@theb-side.co.uk">MATIMBA KABALIKA</a>
        </p>

        <p class="f8 fw7 ttu lh-copy mb0"><strong>UK: SOMESUCH</strong><br/>
          <a class="link black hover-bg-green underline" href="mailto:tania@somesuch.co">TANIA DINIZ</a>, <a class="link black hover-bg-green underline" href="mailto:thea@somesuch.co">THEA SUN</a>
        </p>

      </div>
    </nav>
    <main class="ph4 fl mt6">
      {{ content | safe }}
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        if (window.location.search.indexOf('secret') !== -1) {
          document.querySelectorAll('#joywave .image-link')[0].href = 'https://wdrv.it/276886bd8'
          document.querySelectorAll('#joywave .link')[0].href = document.querySelectorAll('#joywave .link')[0].href + '?secret'
        }
      });
    </script>
  </body>
</html>
